/* Stylesheet by Emilio 'Randy' Garcia, 2018 */

html, body {
    height: 100%;;
    background-color: black;
}

#mapid {
    height: 99%;
    background: #000;
    z-index: 2
}

.leaflet-control-layers-toggle {
  background-image: url(/img/mapLayerControl.png) !important;
	background-color: #565656 ;
  background-size: 20px 20px;
}

.leaflet-touch .leaflet-control-layers-toggle {
background-image: url(/img/mapLayerControl.png) !important;
background-color: #565656 ;
}

.leaflet-control-layers-expanded {
  color: #cfe2e5;
    font-weight: normal;
	background-color: #565656;
}


html, body {
    background-color: black;
    opacity: 50%;
		font-family: verdana;
		height: 100%;
}
/* I like this color #2da0e2 */

/* some code reused from https://stackoverflow.com/questions/33778215/remove-leaflet-zoom-control-outline 
https://codepen.io/leemark/pen/dGgqLZ
*/

.leaflet-bar{
  box-shadow: none;
}

.leaflet-touch .leaflet-bar {
    box-shadow: none;
    border: none;
}
.leaflet-control-zoom a{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.65); 
}
.leaflet-bar a{
  border-radius: 3px;
  background-color: #565656 ;
  border: 1px solid rgba(0,0,0,.15);
  color: #cfe2e5;
}
.leaflet-bar a:last-child{
  border: 1px solid rgba(0,0,0,.15);
}
.leaflet-bar a:hover{
  background-color: #cfe2e5;
  border: 1px solid rgba(0,0,0,.15);
  color: #565656 ;
}
.leaflet-control-zoom-in{
  margin-top: 10px;
}
.leaflet-control-zoom-out{
  margin-top: 12px;
}

.leaflet-slider{
    margin-bottom: 100px;
}

/* testing delete me */
.container {
    position: relative;
    width: 500px;
    z-index: 1
}

.overlay {     
  width: 100%;
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;      
  background-color: black;
    opacity: .8;
    z-index: 3;
}

button{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}



.overlay-content {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 0%;
    font-size: 2;
    font-family: "courier new"

  
}

.overlay a {
    padding: 70px;
    padding-top: 30px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 1px;
    right: 3px;
  }
}

.title-overlay {
    padding-top: 5%;
    position: relative;
        color: white;
        font-family: "courier new"
            
        
}

.videowrapper { 
        float: none;
        clear: both;
        width: 700px;
    max-width: 100%;
        position: relative;
        padding-bottom: 20%;
        padding-top: 25px;
        height: 0;
    margin:  auto;
    }
    .videowrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }